.DS_Store
data/ml-1m/img/*
!data/ml-1m/img/README.md
data/ml-100k/img/*
!data/ml-100k/img/README.md
ratings.dat
users.dat
*.base
*.test
u.data
u.genre
u.info
u.occupation
u.user
*.pl
*.sh
data/ml-25m/genome-scores.csv
data/ml-25m/genome-tags.csv
data/ml-25m/ratings.csv
data/ml-25m/tags.csv
.vscode